.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img{

  width:200px;
  height:200px;
  /* z-index: -1; */
}


.slider{

  display :flex;
 margin:5px;
 width: 100%; 
z-index: -1;

 

}

.slider img{

overflow:hidden;
    height:350px;
      border:4px solid transparent;
      border-radius:4px;
     
  width:100%;
  box-shadow:rgb(0 0 0 / 69%) 0px 26px 30px -10px,
  rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  transition:300ms;
 
  
}

.slider img :hover{
  border:4px solid rgba(249 ,249, 249 ,0.8);
}